.advantages {
    padding-top: 94px;
}

.advantages-main {
    display: flex;
}

.advantages-list {
    width: 270px;
}

.advantages-main {
    justify-content: space-between;
}

.advantages-item {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.advantages-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.container-icons {
    padding: 25px 102.34px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    left: 215px;
    top: 774px;

    background: #f5f4fa;
    border-radius: 4px;
}

.advantage-icon {
    max-width: 80px;
    max-height: 80px;
    border-radius: 4px;
}