.container {
    margin-left: auto;
    margin-right: auto;

    padding: 0 15px;

    width: 1200px;
}

.header-container {
    display: flex;
    align-items: center;
}

.container-footer {
    display: flex;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;

    padding: 0 15px;

    width: 1200px;
}

.container-contact-us {

    margin-left: 70px;

}