:root {
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --main-hover-color: #2196f3;
    --secondary-background-color: #2f303a;
    --team-bg-color: #f5f4fa;
    --portfolio-img-border: #eeeeee;
    --header-border-color: #ececec;
}